body{
   margin:auto
}
a{
    text-decoration:none
}
#header{
    height:60px;
    /* border:2px solid hotpink; */
    background-color: #d87641
}

#icon{
    float:left;
    margin-left:1%;
    margin-top:-1%;
}
#social{
    float:right;
}
.slogo{
    height:50px;
    width:50px;
}

/* Search Area */
#search{
    height:400px;
    background-image:url('image/food-wallpaper.png');
    background-repeat: no-repeat;
    background-size:cover
    /* background-size: 100% 400px; */
}
#content{
    height:350px;
    width:60%;
    margin-left:20%;
    margin-top:2%;
    position: absolute;
}
#logo{
    height:150px;
    width:150px;
    background-color: rgb(255 255 255/ 60%);
    border-radius: 50%;
    margin-left: 43%;
}

#logo > span {
    font-size:80px;
    margin-left: 5%;
    margin-top:3%;
    position: absolute;
}

#heading{
    font-size:50px;
    margin-left: 10%;
    margin-top:2%;
    color:white
}

.dropdown{
    height:60px;
    width:100%;
    margin-left:5%;
    margin-top:2%;
}
select{
    height:60px;
    width:40%;
    font-size:20px;
    text-align: center;
}
.restSelect{
    width:55%; 
}

/* Quick Search Area */
#quickSearch{
    height:500px;
    border:2px solid blue
}
/* footer Area */
#footer{
    height:70px;
    border:2px solid black
}